$accent-color: #5e1445;
$card-color: rgba(255, 255, 255, .3);
$first-purple: #63194a;
$second-purple: #28003e;
$anger-red: #ff5c49;
$joy-yellow: #ffb000;
$sadness-blue: #2d74da;
$text-color: #fff;
$background-responsive: #26003b;
$responsive-color: rgba(166, 126, 153, .95);
$white10: rgba(255, 255, 255, .1);
$white50: rgba(255, 255, 255, .5);
$white90: rgba(255, 255, 255, .9);
$landing-background: rgba(0, 0, 0, .9);
$responsive-nav: rgba(144, 91, 129, 1);
