@import 'toolkit/reset';
@import 'ibm-colors';
@import 'sass-colors';
@import 'typography';

$margin: 10px;
$shadow: 0 3px 6px rgba(0,0,0,0.54), 0 3px 6px rgba(0,0,0,0.54);
$snappyHover: all 0.5s cubic-bezier(.25,.8,.25,1);
$shadowHover: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.45);

.background {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  $margin: 10px;
  $shadow: 0 3px 6px rgba(0,0,0,0.54), 0 3px 6px rgba(0,0,0,0.54);
  $snappyHover: all 0.5s cubic-bezier(.25,.8,.25,1);
  $shadowHover: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.45);
}

.background {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
}
li {
  display: flex;
  flex-direction:column;
}
.card {
  display: flex;
  align-items:center;
  justify-content: space-around;
  min-width: 320px;
  min-height: 390px;
  // min-width: 160px;
  // min-height: 190px;
  background-color: color('indigo', 90);
  cursor:pointer;
  margin: $margin;
  transition: $snappyHover;
  &:hover {
    box-shadow: $shadowHover;
  }
  box-shadow: $shadow;
}

.background--gradient {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: linear-gradient(to bottom, #5F2797, #501e58);
  z-index: -2;
  overflow: scroll;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: $margin;
}
.control__button {
  background-color: $overlay;
  border: none;
  height: 78px;
  width: 78px;
  
  &:hover {
    transition: $snappyHover;
    background-color: $white;
    box-shadow: $shadowHover;
  }
}
.card__albumCover {
  height: 220px;
  width: 220px;
  background-color:steelblue;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}