@import 'toolkit/reset';
@import 'sass-colors';
@import 'typography';

$margin: 10px;
$shadow: 0 3px 6px rgba(0, 0, 0, .54), 0 3px 6px rgba(0, 0, 0, .54);
$snappy-hover: all .5s cubic-bezier(.25, .8, .25, 1);
$shadow-hover: 0 14px 28px rgba(0, 0, 0, .45), 0 10px 10px rgba(0, 0, 0, .45);

li {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: $card-color;
  box-shadow: $shadow;
  cursor: pointer;
  display: flex; //font-size: 1.5rem;
  height: 390px;
  margin: $margin;
  padding: 30px;
  position: relative;
  text-align: center;
  transition: $snappy-hover;
  width: 320px;

  &:hover {
    box-shadow: $shadow-hover;
    }
}

.background--gradient {
  background-image: linear-gradient(to bottom, $first-purple, $second-purple);
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: scroll;
  padding: 3.125em 3.125em 0 78px;
  position: absolute;
  width: 100vw;
  z-index: 4;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: $margin;
  position: absolute;
  z-index: 6;
}

.control--button {
  background-color: $card-color;
  border: 0;
  height: 78px;
  width: 78px;

  img {
    height: 43px;
    width: 43px;
  }

  &:hover {
    background-color: $white90;
    box-shadow: $shadow-hover;
    color: $accent-color;
    transition: $snappy-hover;
  }
}

.date--controls {
  display: flex;
  flex-direction: column;
  margin-top: $margin;
}

.filter--selected {
  background-color: $white90;
}

.card--albumcover {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
  justify-content: center;
  position: relative;
  height: 260px;
}

.card--albumcover--circle {
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid;
  border-color: $accent-color;
  border-radius: 50%;
  display: flex;
  height: 230px;
  justify-content: center;
  position: relative;
  width: 230px;
}

.card--info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  justify-content: center;

  p {
    align-items: center;
    display: flex;
    justify-content: center;
    //overflow: scroll;
    //padding-top: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
  }
}

.card-cover-default {
  background-size: cover;
}

.card--selected {
  background-color: $white90;
  color: $accent-color;
}

.likes {
  left: 5px;
  position: absolute;
  top: 5px;
}

.play-button {
  align-items: center;
  background: $white;
  border: 0;
  border-radius: 50%;
  display: flex;
  height: 77px;
  justify-content: center;
  width: 77px;
}

.landing--experience {
  align-items: center;
  background-color: $landing-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  transition: opacity .5s cubic-bezier(.25, .8, .25, 1);
  width: 100vw;
  z-index: 5;

  h1,
  h3 {
    font-weight: 300;
  }

  span {
    font-weight: 700;
  }

  .guidance {
    left: 117px;
    position: absolute;
    top: 117px;

    img {
      height: 156px;
      width: 78px;
    }

    .guidance--copy {
      text-align: center;
      width: 90px;
    }
  }
}
