@import 'toolkit/reset';
@import 'sass-colors';
@import 'typography';

$margin: 10px;
$shadow: 0 3px 6px rgba(0, 0, 0, .54), 0 3px 6px rgba(0, 0, 0, .54);
$snappy-hover: all .5s cubic-bezier(.25, .8, .25, 1);
$shadow-hover: 0 14px 28px rgba(0, 0, 0, .45), 0 10px 10px rgba(0, 0, 0, .45);

li {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: $card-color;
  box-shadow: $shadow;
  cursor: pointer;
  display: flex; //font-size: 1.5rem;
  height: 390px;
  margin: $margin;
  padding: 30px;
  position: relative;
  text-align: center;
  transition: $snappy-hover;
  width: 320px;

  &:hover {
    box-shadow: $shadow-hover;
    }
}

.background--gradient {
  background-image: linear-gradient(to bottom, $first-purple, $second-purple);
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: scroll;
  padding: 3.125em 3.125em 0 78px;
  position: absolute;
  width: 100vw;
  z-index: 4;

  @media screen and (max-width: 822px) {
    padding: 110px 0;
  }
}

.background--responsive {
  @media screen and (max-width: 822px) {
    background-color: $card-color;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
  }
}

.calendar--icons {
  display: flex;
  flex-direction: row;

  li {
    img {
      width: 30px;
    }
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: $margin;
  position: absolute;
  z-index: 6;
  @media screen and (max-width: 822px) {
    flex-direction: row;
    margin: 0;
  }
}

.control--button {
  background-color: $card-color;
  border: 0;
  height: 90px;
  width: 78px;

  img {
    height: 43px;
    width: 43px;
  }

  @media screen and (max-width: 822px) {
    background-color: transparent;
    display: flex;
    height: 80px;
    justify-content: center;
    padding: 1em;
    width: 60px;

    img {
      height: 20px;
      width: 20px;
    }

    p {
      font-size: 1px;
      position: absolute;
    }

    &:hover {
      background-color: $responsive-color;
      box-shadow: none;
    }
  }

  &:hover {
    background-color: $white90;
    box-shadow: $shadow-hover;
    color: $accent-color;
    transition: $snappy-hover;
  }
}

.date--controls {
  display: flex;
  flex-direction: column;
  margin-top: $margin;
  @media screen and (max-width: 822px) {
    flex-direction: row;
    margin-top: 0;
  }
}

.controls--responsive {
  @media screen and (max-width: 822px) {
    background-color: $background-responsive;
    color: $accent-color;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
}

.filter--selected {
  background-color: mix($accent-color, $white90);
  color: $accent-color;
}

.card--albumcover {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
  height: 260px;
  justify-content: center;
  position: relative;
}

.card--albumcover--circle {
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid;
  border-color: $accent-color;
  border-radius: 50%;
  display: flex;
  height: 230px;
  justify-content: center;
  position: relative;
  width: 230px;
}

.card--info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  justify-content: center;

  p {
    align-items: center;
    display: flex;
    justify-content: center;
    //overflow: scroll;
    //padding-top: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
  }
}

.card-cover-default {
  background-size: cover;
}

.card--selected {
  background-color: $white90;
  color: $accent-color;
}

.circular-spin {
  animation: spin 1.33s linear 22.55;
}

.likes {
  left: 5px;
  position: absolute;
  top: 5px;
}

.card--played {
  background-color: $white10;
}

.play-button {
  align-items: center;
  background: $white;
  border: 0;
  border-radius: 50%;
  display: flex;
  height: 77px;
  justify-content: center;
  width: 77px;
}

.landing--experience {
  align-items: center;
  background-color: $landing-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 1;
  position: fixed;
  transition: opacity .5s cubic-bezier(.25, .8, .25, 1);
  width: 100vw;
  z-index: 5;

  h1,
  h3 {
    font-weight: 300;
  }

  span {
    font-weight: 700;
  }

  .guidance {
    display: flex;
    left: 117px;
    position: absolute;
    top: 117px;

    img {
      height: 156px;
      width: 78px;
      @media screen and (max-width: 822px) {display: none;}
    }

    .guidance--copy {
      text-align: center;
      width: 5em;
      @media screen and (max-width: 822px) {
        font-size: 1.414rem;
        width: 100%;
      }
    }
    @media screen and (max-width: 822px) {
      align-items: center;
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      top: 100px;
    }
  }
}

.share {
  color: $white;
  left: 245px;
  position: absolute;
  text-decoration: none;
  top: 5px;
}

.share--card--selected {
  color: $accent-color;
}


.emotion-bar-anger-background {
  align-self: flex-start;
  border: 1px solid mix($anger-red, $white);
  height: 12px;
  width: 100%;

  .emotion-bar-anger {
    align-self: flex-start;
    background-color: mix($anger-red, $white);
    height: 10px;
    width: 75%;
  }
}

.emotion-bar-joy-background {
  align-self: flex-start;
  border: 1px solid mix($joy-yellow, $white);
  height: 12px;
  width: 100%;

  .emotion-bar-joy {
    align-self: flex-start;
    background-color: mix($joy-yellow, $white);
    height: 10px;
    width: 75%;
  }
}

.emotion-bar-sadness-background {
  align-self: flex-start;
  border: 1px solid mix($sadness-blue, $white);
  height: 12px;
  width: 100%;

  .emotion-bar-sadness {
    align-self: flex-start;
    background-color: mix($sadness-blue, $white);
    height: 10px;
    width: 75%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.watson-spinner {
  animation: spin 2.66s linear infinite;
  height: 100px;
  margin-bottom: 25px;
  transform-origin: 50% 61.4%;
}
