<!-- <!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="background background--gradient">
      <nav class="controls">
        <button class="control control__button"></button>
        <button class="control control__button"></button>
        <button class="control control__button"></button>
        <button class="control control__button"></button>
        <button class="control control__button"></button>
      </nav>
      <ul class='list-inline'>
        <li class="card" ng-repeat="card in cards">
          card
        </li>
      </ul>
    </div>
  </body>
</html>
