<!-- <!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">
    <ul class='list-inline'>
      <li ng-repeat="card in cards">
        <img id="ID_{{card.name}}" class="img-responsive center-block" ng-src="{{card.image_url}}", height="192" width="128">
        <span for="ID_{{card.name}}">{{card.name | limitTo:15}}<span ng-if='card.name.length >= 15'>...</span></span>
      </li>
    </ul>
  </body>
</html>
