<!-- <!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
</html> -->

<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Hello</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="myCtrl">
    <div class="background background--gradient">
      <nav class="controls">
        <button class="control control--button" ng-repeat="filter in filters" ng-click="handleControlClick($event)" ng-class="{'filter--selected':filter.selected}">
          <img src="{{'images/' + filter.name + '-emoticon.png'}}" alt="{{filter.name}}" /> 
        </button>
      </nav>
      <ul class='list-inline'>
        <li class="card" ng-repeat="card in cards | orderBy:selectedFilter" ng-click="handleCardClick()" ng-class="{'card--selected': card.selected}" ng-hide="card.cover===undefined">

          <div class="card--albumcover">
            <div style="background-image: url({{card.cover ? card.cover : 'images/cover.jpg'}})" ng-class="{'card-cover-default': !card.cover}" class="card--albumcover--circle">
              <button class="play-button">
                <img src="images/play-button.svg" alt="play"/>
              </button>
            </div>
          </div>
          <div class="card--info">
            <p class="card--artistname">{{characterFilter(card.track)}}</p>
            <p class="card--artistname">{{characterFilter(card.artist)}}</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
